.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 5%;
background:white;
position:sticky;
top:0;
z-index:100;
box-shadow:0 5px 20px rgba(0,0,0,.05);
}

.logo{
font-size:28px;
font-weight:800;
color:#4F46E5;
}

.nav-links{
display:flex;
gap:25px;
align-items:center;
}

.nav-links button{
padding:12px 22px;
border:none;
background:#4F46E5;
color:white;
border-radius:12px;
font-weight:600;
}